:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}

.main-container{
    // width: 100%;
    // max-width: 1128px;
    // margin-inline: auto;
    // background: var(--whiteColor);
    // width: 0% !important;
    .modal {
        position: fixed;
        z-index: 1000; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;   
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); 
    
        .modal-dialog {
            margin: 10% auto;
            width: 40%; 
    
            .modal-content {
                background-color: #fefefe;
                padding: 20px;
                border: 1px solid #888;
                border-radius: 1rem;
    
                .modal-header, .modal-body, .modal-footer {
                    padding: 10px;
    
                    .modal-title {
                        margin: 0;
                        color: var(--textColor);
                        text-align: center;
                    }
    
                    .close {
                        float: right;
                        font-size: 1.2rem;
                        font-weight: bold;
                        &:hover, &:focus {
                            color: red;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
    
                .modal-body {
                    position: relative;
                    .closePopup {
                        position: absolute;
                        top: -.7rem;
                        right: -.6rem;
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 10px;
                        z-index: 1;
                    
                    }
        
                    .closePopup::before, .closePopup::after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 2px;
                        background-color: #000;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
        
                    .closePopup::before {
                        // transform: rotate(45deg);
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    .closePopup::after {
                        // transform: rotate(-45deg);
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }



                    .payContent{
                        width: auto;
                        height: auto;
                        background: var(--whiteColor);
                        border: 1px solid #04aa6d;
                        border-top-width: 5px;
                        margin-inline: auto;
                        .imgsucces{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            img{
                                width: 6rem;
                                // padding-top: 3rem;
                            }
                        }
                        .content{
                            text-align: center;
                            padding: 2rem;
                            .titlePay{
                                font-size: 40px;
                                font-weight: 600;
                            }
                        }
                        .payMent{
                            margin-bottom: 1rem;
                            display: flex;
                            justify-content: center;
                            gap: 1rem;
                            .vnpay{
                                background-size: cover;
                                cursor: pointer;
                                background: var(--whiteColor);
                                border-radius: .5rem;
                                font-size: 20px;
                                font-weight: bold;
                                border: 1px solid var(--greyText);
                                text-align: center;
                                &:hover{
                                    border: 1px solid #04aa6d;
                                }
                            }
                            .trasau{
                                width: 115px;
                                height: 44px;
                                border-radius: .5rem;
                                font-size: 15px;
                                font-weight: bold;
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
    }

    .bookingContent{
        width: 100%;
        gap: 3rem;
        align-items: flex-start;

        h3{
            text-align: center;
            padding-bottom: 1rem;
        }
        
        .infoTicket{
            width: 20rem;
            // height: 38rem;
            background: var(--whiteColor);
            border-radius: 1rem;
            border: 1px solid var(--greyText);
            padding: 1rem 1rem;
            // display: flex;
            h3{
                color: var(--blackColor);
            }
            .lineInfo{
                display: flex;
                justify-content: space-between;
                line-height: 3rem;
                // span{
                //     color: var(--blackColor);
                // }
                .rightInfo{
                    // width: 18rem;
                    height: 2.5rem;
                    // background: var(--greyText);
                    // border-radius: .5rem;
                    span{
                        padding-left: 1rem;
                        padding-bottom: .5rem;
                        color: var(--blackColor);
                    }
                }
                .seatInfo{
                    gap: 1rem;
                    span{
                        background: rgb(220, 231, 71);
                        font-weight: bolder;
                        padding: .2rem;
                    }
                }
                .Note{
                    // width: 18rem;
                    height: 2.5rem;
                    background: var(--whiteColor);
                    border-radius: .5rem;
                    padding-left: 1rem;
                    border: 1px solid var(--greyText);
                    outline: none;
                }
                .selectChoose{
                    select{
                        width: 10rem;
                        height: 2.5rem;
                        background: var(--whiteColor);
                        border-radius: .5rem;
                        padding-left: 1rem;
                        border: 1px solid var(--greyText);
                        outline: none;
                        
                    }
                }
            }
            
            .policyCheckbox{
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .checkBox{
                    display: flex;
                    align-items: center;
                    .checkbox-input{
                        width: 20px;
                        height: 20px;
                        border: 1px solid var(--greyText);
                    }
                }
            }
            .buttonList{
                padding-top: 2rem;
                display: flex;
                margin-inline: auto;
                justify-content: center;
                gap: 2rem;
                .btn{
                    border-radius: .5rem;
                    font-weight: 600;
                    color: var(--whiteColor);
                }
                .cancle{
                    background: #cf1726;
                    &:hover{
                        background: #ea4957;
                    }
                }
                .pay{
                    background: var(--PrimaryColor);
                    &:hover{
                        background: var(--SecondaryColor);
                    }
                }
            }
            
            
        }
        .infoUser{
            width: 30rem;
            background: var(--whiteColor);
            border-radius: 1rem;
            border: 1px solid var(--greyText);
            padding: 1rem 2rem;
            margin-top: 1rem;
            height: auto;
            h3{
                color: var(--blackColor);
            }
            .lineInfo{
                display: flex;
                justify-content: space-between;
                line-height: 3rem;
                span{
                    color: var(--blackColor);
                }
                .infoInput{
                    display: grid;
                    height: 4rem;
                    .info{
                        width: 18rem;
                        height: 2.5rem;
                        background: var(--whiteColor);
                        border-radius: .5rem;
                        padding-left: 1rem;
                        border: 1px solid var(--greyText);
                        outline: none;
                    }
                }
                
            }
        }
        .discount{
            margin-top: 1rem;
            width: 100%;
            display: flex;
            margin-inline: auto;
            .textdiscount{
                margin-right: 1rem;
                width: 76%;
            }
        }
        .policyInfo{
            width: auto;
            height: auto;
            background: var(--whiteColor);
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--greyText);
            .titlePolicy{
                text-align: center;
                padding-bottom: 1rem;
            }
            .devide{
                width: 100%;
                background-color: var(--greyText);
                height: .5px;
            }
            .contentPolicy{
                text-align: center;
                padding-top: 1rem;
                line-height: 1.5rem;
                .lineInfo{
                    display: flex;
                    justify-content: space-between;
                    line-height: 3rem;
                    .rightInfo{
                        width: 18rem;
                        height: 2.5rem;
                        // background: var(--greyText);
                        border-radius: .5rem;
                        font-weight: 600;
                        span{
                            padding-left: 1rem;
                            padding-bottom: .5rem;
                            color: var(--blackColor);
                        }
                    }
                    .Note{
                        width: 18rem;
                        height: 2.5rem;
                        background: var(--whiteColor);
                        border-radius: .5rem;
                        padding-left: 1rem;
                        border: 1px solid var(--greyText);
                        outline: none;
                    }
                    .selectChoose{
                        select{
                            width: 18rem;
                            height: 2.5rem;
                            background: var(--whiteColor);
                            border-radius: .5rem;
                            padding-left: 1rem;
                            border: 1px solid var(--greyText);
                            outline: none;
                            
                        }
                    }
                }
                .policyCheckbox{
                    width: 100%;
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .checkBox{
                        display: flex;
                        align-items: center;
                        .checkbox-input{
                            width: 20px;
                            height: 20px;
                            border: 1px solid var(--greyText);
                        }
                    }
                }
                .buttonList{
                    padding-top: 2rem;
                    display: flex;
                    margin-inline: auto;
                    justify-content: center;
                    gap: 2rem;
                    .btn{
                        border-radius: .5rem;
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                    .cancle{
                        background: #cf1726;
                        &:hover{
                            background: #ea4957;
                        }
                    }
                    .pay{
                        background: var(--PrimaryColor);
                        &:hover{
                            background: var(--SecondaryColor);
                        }
                    }
                }
            }
        }
    }

    .toast-container {
        position: fixed;
        top: 50%; 
        right: 0; 
        transform: translateY(-50%); 
        z-index: 9999; 
    }
}

.payment-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;

    .modal-box {
        position: relative;
        width: min(90%, 450px);
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        padding: 2.5rem 2rem;
        text-align: center;
        animation: slideUp 0.35s ease;

        .close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 28px;
            height: 28px;
            background: none;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 2px;
                background: #333;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                transition: 0.2s;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:hover {
                transform: rotate(90deg);
            }

            &:hover::before,
            &:hover::after {
                background: #04aa6d;
            }
        }

        .payment-content {
            .icon-wrapper {
                position: relative;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6rem;
                height: 6rem;

                .success-icon {
                    color: #04aa6d;
                    font-size: 6rem;
                    z-index: 2;
                    transition: transform 0.3s ease, color 0.3s ease;
                    animation: bounce 1.2s infinite ease-in-out;
                    z-index: 1;
                    
                    &:hover {
                        transform: scale(1.2) rotate(-10deg);
                        color: #02864b;
                    }
                }

                .icon-shadow {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) scaleX(1);
                    width: 60px;
                    height: 10px;
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: 50%;
                    filter: blur(4px);
                    animation: shadowBounce 1s infinite ease-in-out;
                    z-index: 0;
                }
            }

            .title {
                font-size: 1.8rem;
                font-weight: 600;
                color: #222;
            }

            .desc {
                color: #555;
                margin: 0.8rem 0 1.8rem;
                line-height: 1.5;
            }

            .payment-actions {
                display: flex;
                justify-content: center;
                gap: 1rem;
                flex-wrap: wrap;

                .btn {
                    border: none;
                    border-radius: 0.6rem;
                    padding: 0.8rem 1.2rem;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.25s ease;
                }

                .vnpay {
                    background: #fff;
                    border: 1px solid #ccc;
                    
                    &:hover {
                        border-color: #04aa6d;
                        transform: translateY(-2px);
                    }

                    .vnpay-red {
                        color: #ed3237;
                    }
                    
                    .vnpay-blue {
                        color: #0f62ac;
                    }
                }

                .cod {
                    background: #04aa6d;
                    color: #fff;
                    
                    &:hover {
                        background: #028a58;
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes shadowBounce {
    0%, 100% {
        transform: translateX(-50%) scaleX(1);
    }
    50% {
        transform: translateX(-50%) scaleX(0.8);
    }
}